#home {
  .container {
    margin-top: 100px;
    .bitcoin-logo {
      width: 80%;
      opacity: 0.8;
      margin: 0 auto;
      display: block;
    }
    .transactions {
      width: 50%;
      h2 {
        color: $blue;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      label {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        color: $greyFont;
        margin-bottom: 20px;
        letter-spacing: 1px;
      }

      input[type='text'] {
        background: $lightgrey;
        border: 0;
        display: block;
        width: 100%;
        padding: 10px 15px;
        font-size: 2rem;
        margin-bottom: 20px;
        color: $greyFont;
        font-weight: 200;
      }

      button {
        display: block;
        background: $blue;
        padding: 10px 15px;
        font-size: 1.3rem;
        border: none;
        float: right;
        font-weight: 300;
        color: $lightgrey;
        transition: all 0.3s ease-in-out;
        letter-spacing: 1.5px;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
      .react-datepicker__input-container,
      .react-datepicker-wrapper {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  #home {
    .container {
      margin-top: 50px;
      margin-bottom: 50px;
      .bitcoin-logo {
        margin-bottom: 50px;
      }
      .transactions {
        width: 100%;
      }
    }
  }
}
